mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: grey;
  color: white;
  padding: 15px
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
